@import "tailwindcss";

@theme {
    --font-sans: var(--font-outfit);
}

:root {
    --background: #0a0a0a;
    --foreground: #ffffff;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-sans), system-ui, sans-serif;
}